# Bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Python test cache
.pytest_cache/

# IDE / editor configs
.vscode/
.idea/

# Logs & system
*.log

# Secrets
.env

# Output directory
output/
data/

# Git & Docker
.git/
.gitignore
Dockerfile
